.main-container {
  flex-grow: 1;
}

.main-container__promo {
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 389px;
  background-color: #81b3d2;
  position: relative;
  background-position: 52% -38px;
}

.promo__welcome {
  height: 214px;
  width: 282px;
  bottom: 22%;
  left: 10%;
  padding: 90px 0 0;
}

.promo-frame {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  .main-container__promo {
    background-image: url("../img/promo-background.jpg");
    background-repeat: no-repeat;
    height: 518px;
    background-position: 50% 10%;
  }

  .promo__welcome {
    height: 350px;
    width: 461px;
    padding: 77px 0 0;
  }
}

@media (min-width: 1200px) {
  .promo__welcome {
    height: 350px;
    width: 460px;
    bottom: 18%;
    left: 31%;
  }
}
