.person-form {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 24px 20px 0 20px;

  @media (min-width: 768px) {

    padding: 0 60px 64px;

    .person-info {
      display: grid;
      grid-template-columns: 295px 295px;
      grid-column-gap: 58px;
    }
  }

  .person-form__contacts {
    padding: 0;
  }

  @media (min-width: 1200px) {
    padding: 68px 120px 64px;

    .person-info-form {
      grid-template-columns: 430px 430px;
      grid-column-gap: 128px;
    }
  }
}

.person__name {
  margin: 0 0 64px;
}

.person-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0;

  @media (min-width: 768px) {
    font-size: 21px;
    max-width: 308px;
    margin: 0 auto 28px;
  }
}

.person-form__description {
  padding: 22px 20px 46px 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.person-form__visited {
  margin: 0 0 49px;

  @media (min-width: 768px) {
    display: grid;
    justify-content: center;
    // max-width: 308px;
    margin: 0 auto;
    padding: 0 0 28px 0;
  }
}

.visited__list {
  margin: 0;
  padding: 0 0 0 62px;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @media (min-width: 768px) {
    align-items: center;
    display: grid;
    grid-template-columns: 224px 224px;
    grid-column-gap: 32px;
    grid-template-rows: 46px 46px;
    grid-row-gap: 16px;
    // justify-items: center;
    padding: 0;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 64px;
    grid-template-rows: 1fr;
    padding: 0;
  }
}

.review__list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
  padding: 0 0 0 62px;

  @media (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.person-info__field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}

.form-field__button {
  background-color: transparent;
  position: absolute;
  bottom: 16px;
  right: 0;
  width: 58px;
  height: 58px;
  padding: 0;
}

.form-field__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  padding: 0 0 0 16px;
}

.form-field__control {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 16px 0;
  padding: 16px;
  width: 280px;
  box-sizing: border-box;
  border: none;

  @media (min-width: 1200px) {
    width: 430px;
  }
}

.input {
  background-color: #f2f2f2;
}

.control__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review__control {
  margin: 0 0 36px 0;

  @media (min-width: 768px) {
    width: 50%;
    margin: 0 0 36px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    padding: 31px 0;
  }
}

.control {
  margin: 0 0 36px 0;

  @media (min-width: 768px) {
    // width: 50%;
    margin: 0;
  }

  @media (min-width: 1200px) {
    margin: 0;
    padding: 31px 0;
  }
}

.description__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  margin: 0 0 56px 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
}

.person-form__contacts {
  padding: 24px 0 34px;
  margin: 0 0 59px;
}

.person-form__review {
  margin: 0 0 49px;
  // padding: 24px 0 34px;
}

.person-form__button-submit {
  width: 280px;
  padding: 16px;

  @media (min-width: 768px) {
    width: 324px;
  }
}

.person-form__requrided {
  display: grid;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.requrided__field {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 21px;
  margin: 0;
  justify-self: end;

  @media (min-width: 768px) {
    justify-self: end;
  }
}
